<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org">
<suite name="Sauce Demo Shopify Regression Suite">
    <test name="Automated UI Functional Tests">
        <classes>
            <class name="com.saucedemo.tests.SearchTests"/>
            <class name="com.saucedemo.tests.RemoveTests"/>
        </classes>
    </test>
</suite>
